body {
    margin: 0px;
}
.room {
    height: 900px;
    width: 1440px;
    background-image: url(pictures/room.jpg);
    background-size: 100%;
}
.oboi {
    height: 554px;
    width: 895px;
    background-image: url(pictures/oboi.jpg);
    background-size: 100%;
    position: absolute;
    top: 174px;
    left: 271px;
}
.sofa {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 558px;
    left: 780px;
    z-index: 2;
}
.lamp {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -22px;
    left: 580px;
    z-index: 3;
}
.torsher {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 298px;
    left: 950px;
    z-index: 1;
}
.stol {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 648px;
    left: 555px;
    z-index: 3;
}
.stol2 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 640px;
    left: 128px;
    z-index: 3;
}
.tv {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 480px;
    left: 153px;
    z-index: 3;
}
.kartina {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 228px;
    left: 535px;
}
.ramka {
    position: absolute;
    z-index: 1;
}
.polotno {
    position: relative;
    top: 33px;
    left: 34px;
    z-index: 2;
}