@media screen and (max-width: 1025px) {
    .wrapper {
        max-width: 970px;
    }
    .homePage__buttons {
        padding-bottom: 47px;
    }
    .overview__caption {
        padding: 45px 0 45px 4px;
    }
    .overview__items .overview__item {
        padding: 0 0px 36px 0;
    }
    .details1__caption {
        padding: 70px 0 0 570px;
    }
    .details1__caption-sign {
        padding: 30px 0 0 0px;
        margin: 0;
    }
    .details1__caption-body {
        margin: 0;
    }
    .details1__text {
        padding: 0 50px 30px 480px;
    }
    .details1__points {
        padding: 30px 0 95px 480px;
    }
    .main__details1 {
        background: url(./img/details1BgPicture.png) no-repeat;
        background-position-y: 30px;
    }
    .details2__caption {
        padding: 90px 0 0 30px;
    }
    .details2__text {
        padding: 14px 590px 50px 30px;
    }
    .main__details2 {
        background: url(./img/details2BgPicture.png) no-repeat;
        background-size: 70%;
        background-position: 110% 10%;
    }
    .quality1__caption {
        padding: 40px 0 0px 365px;
    }
    .main__customers-review-container {
        padding: 60px 0 100px 0;
    }
    .quality1__bottom-circles {
        padding: 0px 0 50px 450px;
    }
    .main__offer-Question {
        padding: 20px 0px 20px 0px;
    }
    .offer-Question__button1 {
        padding: 0 36px 0 36px;
        height: unset;
    }
    .offer-Question__button2 {
        height: unset;
        margin: 10px 0 0 0;
    }
    .main__offer-buttons {
        display: block;
        padding: 20px 0px 0 130px;
    }
    .offer-Question__textOffer {
        text-align: center;
    }
    .offer-Question__text-offer-o {
        padding: 0 0 0 120px;
    }
    .quality2__caption {
        padding: 30px 0 10px 370px;
    }
    .quality2__caption-top {
        margin: 0 0 0 60px;
    }
    .quality2__offers {
        display: flex;
        padding: 20px 0 25px 0px;
    }
    .quality2__offer {
        margin-right: 20px;
    }
    .quality2__offer-name {
        padding: 20px 80px 20px 80px;
    }
    .quality2__offer-price {
        padding: 20px 0px 20px 75px;
    }
    .quality2__offer-per-month {
        padding: 0px 0 0px 80px; 
    }
    .quality2__offer-order-text {
        padding: 20px 10px 0px 20px;
    }
    .quality2__offer-order-button {
        padding: 15px 0 15px 45px;
    }
    .quality3__offer-name, .quality3__offer-price-container {
        padding: 20px;
    }
    .quality3__offer-order {
        padding: 20px;
    }
    .contacts__container {
        padding: 0px 0 20px 0px;
    }
    .contacts__form {
        padding: 32px 67px 24px 66px;
    }
    .main__map {
        padding: 300px 300px 0px 300px;
    }
    .footer__logo-container {
        padding: 35px 400px 0px;
    }
    .footer__copyrights {
        text-align: center;
        padding: 0;
    }


}


@media screen and (max-width: 769px) {
    .wrapper {
        max-width: 670px;
    }
    .header__name {
        font-size: 28px;
    }
    .header__name1 {
        font-size: 10px;
    }
    .header__menu {
        font-size: 18px;
    }
    .header__home-page {
        margin-top: 40px;
    }
    .homePage__caption {
        font-size: 42px;
    }
    .homePage__filling { 
        margin-bottom: 30px;
    }
    .overview__items {
        flex-wrap: wrap;
    }
    .main__details1 {
        background: url(./img/details1BgPicture.png) no-repeat;
        background-position-y: 125px;
        background-size: 60%;
    }
    .details1__caption {
        padding: 20px 0 0 140px;
    }
    .details1__caption-top {
        padding: 0 0 0 130px;
    }
    .details1__caption-sign {
        padding: 0 0 0 180px;
    }
    .details1__text {
        padding: 25px 0px 15px 390px;
    }
    .details1__points {
        padding: 60px 0 80px 390px;
    }
    .details2__caption {
        padding: 20px 0 0 20px;
    }
    .details2__text {
        padding: 14px 392px 100px 30px;
    }
    .main__details2 {
        background: url(./img/details2BgPicture.png) no-repeat;
        background-size: 60%;
        background-position: 110% 10%;
    }
    .details2__text {
        padding: 14px 340px 15px 20px;
    }
    .quality1__caption {
        padding: 10px 0 0px 200px;
    }
    .main__customers-review-container {
        padding: 0px 0 0px 0;
    }
    .customers-review-container__cite {
        font-size: 16px;
    }
    .quality1__bottom-circles {
        padding: 20px 0 20px 285px;
    }
    .offer-Question__text-offer-o {
        padding: 0 0 0 50px;
    }
    .main__offer-buttons {
        display: block;
        padding: 5px 0px 0 40px;
    }
    .main__offer-Question {
        padding: 5px 0px 10px 0px;
    }
    .offer-Question__button2 {
        height: unset;
        margin: 3px 0 0 0;
    }
    .offer-Question__text-offer-q {
        font-size: 30px; 
    }
    .offer-Question__text-offer-o {
        font-size: 30px; 
    }
    .quality3__offer-name, .quality3__offer-price-container, .quality3__offer-order-button { 
        padding: 0;
        margin: 0;
    }
    .quality3__offer-order {
        padding: 5px;
    }
    .quality3__offers {
        padding: 20px 0 20px;
    }
    .contacts__caption {
        padding: 10px 0 10px 0; 
    }
    .contacts__container {
        display: flex;
        justify-content: space-between;
    }
    .contact__container {
        padding: 0;
    }
    .contacts__container_logo {
        padding: 0px 0 0px 77px;
    }
    .pointer__logo {
        padding: 0 0 20px 27px;
    }
    .contacts__form .fields-wrapper .text-field {
        padding: 10px;
    }
    .main__map {
        padding: 200px 0px 0px 0px;
    }
    .footer__logo-container {
        padding: 15px 240px 0px;
    }
    .footer__copyrights {
        font-size: 10px;
    }
    
}


@media screen and (max-width: 481px) {
    
}

@media screen and (max-width: 321px) {

}
    
